// Colors
$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);

$green-300: hsl(168, 44%, 70%);
$green-500: hsl(167, 34%, 41%);
$green-600: hsl(166, 30%, 35%);
$green-800: hsl(167, 40%, 24%);

$grey-400: hsl(210, 4%, 67%);
$grey-550: hsl(232, 10%, 55%);
$grey-600: hsl(213, 9%, 39%);
$grey-950: hsl(212, 27%, 19%);

$blue-800: hsl(198, 62%, 26%);
$blue-950: hsl(197, 84%, 13%);

$red-400: hsl(7, 99%, 70%);

$yellow-500: hsl(51, 100%, 49%);

// Font Family
$ff-main: "Fraunces", serif;
$ff-accent: "Barlow", sans-serif;

// Font Weight
$fw-medium: 600; // use with Barlow
$fw-bold: 700; // use with Fraunces
$fw-black: 900; // use with Fraunces

// Spacing
$spacing-0: 0rem;
$spacing-100: 0.5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-600: 3rem;
$spacing-700: 3.5rem;
$spacing-900: 4.5rem;
$spacing-1000: 5rem;
